@model HRSDmgmt.Models.Offer

@{
    ViewData["Title"] = "Details";
}

<h4 class="text-secondary mt-2">Szczegóły zlecenia</h4>
<hr />

<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vacancy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vacancy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Display)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Display)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidates)
        </dt>
        <dd class="col-sm-10">
            @foreach (var candidate in ViewBag.Candidates)
            {
                <a asp-controller="Employees" asp-action="Details" asp-route-id="@candidate.EmployeeId">
                    <div>ID Pracownika: @candidate.EmployeeId</div>
                </a>
            }
        </dd>
    </dl>
</div>



<div>
    <a asp-action="Edit" asp-route-id="@Model?.OfferId" class="btn btn-primary rounded-5">Edytuj</a>
    <a asp-action="Index" class="btn btn-outline-secondary rounded-5">Powrót</a>
</div>