@model IEnumerable<HRSDmgmt.Models.Candidate>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-center">
    <h1 class="d-inline-flex p-3 text-center text-secondary shadow-sm rounded-circle border-top border-white">KANDYDACI</h1>
</div>

<p>
    <a asp-action="Create" class="btn btn-outline-primary rounded-5">Dodaj kandydata</a>
</p>
<table class="table border shadow rounded-5" id="tabela">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Offer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Offer.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
            <a class="btn btn-outline-primary btn-sm rounded-3 my-1" asp-action="Edit" asp-route-id="@item.CandidateId">
                <i class="bi-pen-fill"></i>
            </a>
            <a class="btn btn-outline-secondary btn-sm rounded-3 my-1" asp-action="Details" asp-route-id="@item.CandidateId">
                <i class="bi-binoculars-fill"></i>
            </a>

            <a class="btn btn-outline-danger btn-sm rounded-3 my-1" asp-action="Delete" asp-route-id="@item.CandidateId">
                <i class="bi-trash3-fill"></i>
            </a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.13.1/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tabela').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "Brak danych",
                    "info": "Pozycje od _START_ do _END_ z _TOTAL_ rekordów",
                    "infoEmpty": "Pozycji 0 z 0 dostępnych",
                    "infoFiltered": "(filtrowanie z _MAX_ dostępnych pozycji)",
                    "infoPostFix": "",
                    "thousands": " ",
                    "lengthMenu": "Pokaż _MENU_ pozycji",
                    "loadingRecords": "Ładowanie...",
                    "processing": "Przetwarzanie...",
                    "search": "Wyszukaj:",
                    "zeroRecords": "Nie znaleziono danych",
                    "paginate": {
                        "first": "Pierwsza",
                        "last": "Ostatnia",
                        "next": "Następna",
                        "previous": "Poprzednia"
                    },
                    "aria": {
                        "sortAscending": ": sortuje kolumnę rosnąco",
                        "sortDescending": ": sortuje kolumnę malejąco"
                    }
                }
            });
        });
    </script>
}